* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #faeaf7;
}

.announcement {
    background-color: #faeaf7;
    color: #333;
    text-align: center;
    padding: 8px 15px;
    font-size: 13px;
    letter-spacing: 0.5px;
}


.main-nav {
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
}

.logo a {
    color: #ffffff;
    text-decoration: none;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 1px;
}


.navigation ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
}

.main-nav a {
    color: #fff;
    text-decoration: none;
    transition: opacity 0.3s ease;
}

.main-nav a:hover {
    opacity: 0.7;
}


.navigation a {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.5px;
}


.header-icons {
    display: flex;
    gap: 25px;
}

.header-icons a {
    font-size: 16px;
}

.hero-section {
    background-image: url('public/cover.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 80px;
}

.hero-content {
    max-width: 500px;
    color: rgb(38, 38, 38);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.hero-content .sub-heading {
    font-size: 14px;
    margin-bottom: 15px;
}

.hero-content .description {
    font-size: 16px;
    margin-bottom: 18px;
}

.shop-now-btn {
    display: inline block;
    padding: 11px 17px;
    border-radius: 20px;
    background-color: #262626;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.shop-now-btn:hover {
    background-color: #535353;
}

.explore-section {
    padding: 50px 40px;
    max-width: 1400px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.explore-section .subheading {
    margin-bottom: 25px;
}

.explore-section .explore {
    font-size: 28px;
    color: #333;
    font-weight: 600;
}


.explore-section .discover-all {
    font-size: 14px;
    font-weight: 600;
    color: #555;
    text-decoration: underline;
    text-underline-offset: 4px;
}



.product-page {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: minmax(500px, auto);

}

.product-details {
    margin: 10px;
}

.product-details h1 {
    font-size: 1.7rem;
}

.product-price {
    margin-top: 7px;
    font-size: 1.3rem;
    font-weight: 600;
}

.product-rating {
    margin-top: 7px;

    i {
        color: #f4d229;
    }

}

.add-to-cart-btn {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #262626;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 50px;

}

.description-accordion {
    margin-top: 35px;
}


.product-carousel {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    /* horizontal scrolling */
    padding-bottom: 20px;
    margin-top: 20px;
    scrollbar-width: none;
}

.product-carousel::-webkit-scrollbar {
    display: none;
}


.product-card-link {
    flex: 0 0 100px;
    /* Prevents card from shrinking */
}

.product-card {
    background-color: #ffffff;
    border: 1px solid #606060;
    border-radius: 8px;
    padding: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
}

.product-card img {
    background-color: #e9e9e9;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    margin-bottom: 15px;
}

.badge-container {
    position: absolute;
    top: 25px;
    left: 25px;
}

.badge {
    background-color: #c5c4c4;
    border-radius: 8px;
    color: #2f3032;
    font-size: 12px;
    font-weight: 500;
    padding: 4px 10px;
}

.product-info h3 {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    margin-bottom: 10px;
}

.price-rating {
    display: flex;
    gap: 20px;
}

.price {
    font-size: 18px;
}

.rating {
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 3px;
}

.rating .fa-star,
.rating .fa-star-half-stroke {
    color: #f4d229;
}

.rating span {
    margin-left: 5px;
    font-weight: 500;
}

.add-to-bag-btn {
    padding: 10px 12px;
    font-size: 13px;
    border-radius: 15px;
    background-color: #262626;
    margin-top: 10px;
    color: #f8f9fb;
    text-decoration: none;
    display: block;
    width: 50%;

}

.shop-feed-section {
    padding: 10px;
    margin: auto;
    max-width: 1500px;
    background-color: #faeaf7;
}

.feed-header {
    border: 1px #dcdcdc;
    border-bottom: none;
    padding: 20px 5px;
    border-radius: 12px 12px 0 0;
}

.feed-header h2 {
    font-size: 28px;
    color: #333;
    font-weight: 600;
    margin-bottom: 5px;
    margin: auto;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(300px, auto);
    gap: 8px;
}

.grid-item {
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.4s ease;
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.large-item {
    grid-column: 1/3;
    /*will start at col 1 and end at col 3  */

    grid-row: 1/3
        /* will start at row 1 and end at row 3 */

}

.feature-container {
    max-width: 1480px;
    height: 90px;
    border-radius: 10px;
    display: flex;
    background-color: #fefefe;
    padding: 10px 1px;
    margin: 10px auto;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: space-evenly;
}

.feature-item ul {
    display: flex;
    align-items: center;
    gap: 6.2rem;
    flex-wrap: wrap;
    list-style-type: none;
    font-size: 1.3rem;
    animation: scrollAnimation 30s linear infinite;

}

.feature-item span {
    margin-left: 6px;
}


@keyframes scrollAnimation {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-50%);
    }
}

.feature-container:hover .feature-item {
    animation-play-state: paused;
}

.shop-hero {
    background-image: url('public/shop.jpg');
    background-size: cover;
    background-position: center;
    padding: 90px 70px;
    display: flex;
    align-items: center;

}

.shop-content {
    color: #f4f6f7;
}

.shop-content ul {
    list-style-type: none;
    display: flex;
    gap: 40px;
    margin-top: 15px;

    a {
        text-decoration: none;
        color: #e9ecef;
    }
}

.grid {
    padding: 25px;
    grid-template-columns: 1.5fr 1fr 1fr;
    display: flex;
    gap: 20rem;
}


footer .logo a {
    color: #252525;

}


.subscribe-form-container {
    margin-top: 20px;

}

input {
    padding: 10px;
    border-radius: 10px;
    width: 76%;
}

button {
    padding: 10px;
    border-radius: 10px;
    background-color: #252525;
    color: white;
}

button:hover {
    background-color: #414141;
}

footer h4 {
    margin-top: 30px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column li {
    margin-bottom: 12px;
}

.footer-column a {
    text-decoration: none;
    color: #475569;
    transition: color 0.3s ease;
}

.footer-column a:hover {
    color: #000;
}